In [1]:
import sqlalchemy as sql
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.ext.hybrid import hybrid_property, hybrid_method
from sqlalchemy import text, select
from sqlalchemy.sql import exists

In [2]:
from datetime import datetime

In [3]:
engine = sql.create_engine('sqlite:///social_platform.db', echo=True)

In [4]:
Base = declarative_base()

In [5]:
class User(Base):
    __tablename__ = 'users'

    id = sql.Column(sql.Integer, primary_key=True)
    username = sql.Column(sql.String, nullable=False)
    email = sql.Column(sql.String,nullable=False)
    full_name = sql.Column(sql.String,nullable=True)
    profile_picture = sql.Column(sql.String,nullable=True)
    bio = sql.Column(sql.String,nullable=True)
    created_at = sql.Column(sql.DateTime(), default=datetime.utcnow)
    
    def __repr__(self):
        return f" Account for {self.username} has been created!"

In [6]:
class Follow(Base):
    __tablename__ = 'follows'
    
    id = sql.Column(sql.Integer, primary_key=True)
    follower_id = sql.Column(sql.Integer)
    following_id = sql.Column(sql.Integer)
    created_at = sql.Column(sql.DateTime(), default=datetime.utcnow)

In [7]:
class Post(Base):
    __tablename__ = 'posts'

    id = sql.Column(sql.Integer, primary_key=True)
    description = sql.Column(sql.String, nullable= True)
    user_id = sql.Column(sql.ForeignKey('users.id'))
    image = sql.Column(sql.String, nullable= True)
    created_at = sql.Column(sql.DateTime(), default=datetime.utcnow)

In [8]:
class Like(Base):
    __tablename__ = 'likes'

    id = sql.Column(sql.Integer, primary_key=True)
    post_id = sql.Column(sql.ForeignKey('posts.id'))
    user_id = sql.Column(sql.ForeignKey('users.id'))
    created_at = sql.Column(sql.DateTime(), default=datetime.utcnow)

### create data base

In [9]:
Base.metadata.create_all(engine)

2022-01-05 01:30:17,002 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2022-01-05 01:30:17,008 INFO sqlalchemy.engine.base.Engine ()
2022-01-05 01:30:17,010 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2022-01-05 01:30:17,011 INFO sqlalchemy.engine.base.Engine ()
2022-01-05 01:30:17,014 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("users")
2022-01-05 01:30:17,015 INFO sqlalchemy.engine.base.Engine ()
2022-01-05 01:30:17,017 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("users")
2022-01-05 01:30:17,018 INFO sqlalchemy.engine.base.Engine ()
2022-01-05 01:30:17,020 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("follows")
2022-01-05 01:30:17,020 INFO sqlalchemy.engine.base.Engine ()
2022-01-05 01:30:17,021 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("follows")
2022-01-05 01:30:17,022 INFO sqlalchemy.engine.base.Engine ()
2022-01-05 01:30:17,024 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("posts")
2022-01-05 01:30:17,025 INFO sqlalchemy.engine.base.Engine ()
2022-01-05 01:30:17,026 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("posts")
2022-01-05 01:30:17,027 INFO sqlalchemy.engine.base.Engine ()
2022-01-05 01:30:17,029 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("likes")
2022-01-05 01:30:17,030 INFO sqlalchemy.engine.base.Engine ()
2022-01-05 01:30:17,032 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("likes")
2022-01-05 01:30:17,033 INFO sqlalchemy.engine.base.Engine ()
2022-01-05 01:30:17,035 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	username VARCHAR NOT NULL,
	email VARCHAR NOT NULL,
	full_name VARCHAR,
	profile_picture VARCHAR,
	bio VARCHAR,
	created_at DATETIME,
	PRIMARY KEY (id)
)


2022-01-05 01:30:17,036 INFO sqlalchemy.engine.base.Engine ()
2022-01-05 01:30:17,393 INFO sqlalchemy.engine.base.Engine COMMIT
2022-01-05 01:30:17,396 INFO sqlalchemy.engine.base.Engine
CREATE TABLE follows (
	id INTEGER NOT NULL,
	follower_id INTEGER,
	following_id INTEGER,
	created_at DATETIME,
	PRIMARY KEY (id)
)


2022-01-05 01:30:17,397 INFO sqlalchemy.engine.base.Engine ()
2022-01-05 01:30:17,562 INFO sqlalchemy.engine.base.Engine COMMIT
2022-01-05 01:30:17,566 INFO sqlalchemy.engine.base.Engine
CREATE TABLE posts (
	id INTEGER NOT NULL,
	description VARCHAR,
	user_id INTEGER,
	image VARCHAR,
	created_at DATETIME,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)


2022-01-05 01:30:17,567 INFO sqlalchemy.engine.base.Engine ()
2022-01-05 01:30:17,729 INFO sqlalchemy.engine.base.Engine COMMIT
2022-01-05 01:30:17,733 INFO sqlalchemy.engine.base.Engine
CREATE TABLE likes (
	id INTEGER NOT NULL,
	post_id INTEGER,
	user_id INTEGER,
	created_at DATETIME,
	PRIMARY KEY (id),
	FOREIGN KEY(post_id) REFERENCES posts (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)


2022-01-05 01:30:17,735 INFO sqlalchemy.engine.base.Engine ()
2022-01-05 01:30:17,884 INFO sqlalchemy.engine.base.Engine COMMIT

### create and  Insert data into database

##### create users and their posts

In [10]:
### User 1
user1 = User(id=1, username="Sammy",email="sammy@company.com",full_name="Sammy Johnson",profile_picture="path/to/profile/picture1",bio="The Stars")
### User 1 posts
post1  = Post(id =1, description="first post",user_id=user1.id)
post2  = Post(id =2, description="brown cat",user_id=user1.id)
post3  = Post(id =3, description="big cow",user_id=user1.id)

In [11]:
### User 2
user2 = User(id=2, username="Jane",email="jane@company.com",full_name="Jane Hilton",profile_picture="path/to/profile/picture2",bio="Fun and all sun shine.")
### User 2 posts
post4  = Post(id =4, description="sunny sunday",user_id=user2.id)
post5  = Post(id =5, description="cheese cake",user_id=user2.id)
post6  = Post(id =6, description="beach day",user_id=user2.id)

In [12]:
### User 3
user3 = User(id=3, username="Mike",email="mike@company.com",full_name="Mike Summers",profile_picture="path/to/profile/picture3",bio="Not too early to drink wine")
### User 3 posts
post7  = Post(id =7, description=" ... ",user_id=user3.id)
post8  = Post(id =8, description="Jazz",user_id=user3.id)
post9  = Post(id =9, description="Gold",user_id=user3.id)

In [13]:
### User 4
user4 = User(id=4, username="Kate",email="kate@company.com",full_name="Kate Weathers",profile_picture="path/to/profile/picture4",bio="Moments after a heavy down pour")
### User 4 posts
post10  = Post(id =10, description=" Long walks ",user_id=user4.id)
post11 = Post(id =11, description="jeans & boots",user_id=user4.id)
post12 = Post(id =12, description="Let's go skate",user_id=user4.id)

In [14]:
### User 5
user5 = User(id=5, username="Ralph",email="ralph@company.com",full_name="Ralph Jerkins",profile_picture="path/to/profile/picture5",bio="Bikes and Mechanics")
### User 5 posts
post13  = Post(id =13, description=" Break Lights ",user_id=user5.id)
post14 = Post(id =14, description=" Netflix ...",user_id=user5.id)
post15 = Post(id =15, description=" The weekend",user_id=user5.id)

###### create follow instances

In [15]:
f1 = Follow(id = 1,follower_id = user2.id ,following_id = user4.id )
f2 = Follow(id = 2,follower_id = user5.id ,following_id = user1.id )
f3 = Follow(id = 3,follower_id = user4.id ,following_id = user5.id )
f4 = Follow(id = 4,follower_id = user3.id ,following_id = user2.id )
f5 = Follow(id = 5,follower_id = user1.id ,following_id = user3.id )

###### create like instances

In [16]:
l1 = Like(id=1,post_id =post4.id, user_id=user1.id)
l2 = Like(id=2,post_id =post12.id, user_id=user1.id)

In [17]:
l3 = Like(id=3,post_id =post1.id, user_id=user2.id)
l4 = Like(id=4,post_id =post9.id, user_id=user2.id)

In [18]:
l5 = Like(id=5,post_id =post5.id, user_id=user3.id)
l6 = Like(id=6,post_id =post3.id, user_id=user3.id)

In [19]:
l7 = Like(id=7,post_id =post8.id, user_id=user4.id)
l8 = Like(id=8,post_id =post13.id, user_id=user4.id)

In [20]:
l9 = Like(id=9,post_id =post10.id, user_id=user5.id)
l10 = Like(id=10,post_id =post15.id, user_id=user5.id)

### Insert into database

In [21]:
session = sql.orm.Session(engine)

In [22]:
session.add(user1)
session.add(post1)
session.add(post2)
session.add(post3)

session.add(user2)
session.add(post4)
session.add(post5)
session.add(post6)

session.add(user3)
session.add(post7)
session.add(post8)
session.add(post9)

session.add(user4)
session.add(post10)
session.add(post11)
session.add(post12)

session.add(user5)
session.add(post13)
session.add(post14)
session.add(post15)


session.add(f1)
session.add(f2)
session.add(f3)
session.add(f4)
session.add(f5)

session.add(l1)
session.add(l2)
session.add(l3)
session.add(l4)
session.add(l5)
session.add(l6)
session.add(l7)
session.add(l8)
session.add(l9)
session.add(l10)

In [23]:
session.commit()

2022-01-05 01:30:35,232 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2022-01-05 01:30:35,234 INFO sqlalchemy.engine.base.Engine INSERT INTO follows (id, follower_id, following_id, created_at) VALUES (?, ?, ?, ?)
2022-01-05 01:30:35,235 INFO sqlalchemy.engine.base.Engine ((1, 2, 4, '2022-01-05 00:30:35.234304'), (2, 5, 1, '2022-01-05 00:30:35.234304'), (3, 4, 5, '2022-01-05 00:30:35.234304'), (4, 3, 2, '2022-01-05 00:30:35.234304'), (5, 1, 3, '2022-01-05 00:30:35.234304'))
2022-01-05 01:30:35,241 INFO sqlalchemy.engine.base.Engine INSERT INTO posts (id, description, user_id, image, created_at) VALUES (?, ?, ?, ?, ?)
2022-01-05 01:30:35,242 INFO sqlalchemy.engine.base.Engine ((1, 'first post', 1, None, '2022-01-05 00:30:35.240308'), (2, 'brown cat', 1, None, '2022-01-05 00:30:35.240308'), (3, 'big cow', 1, None, '2022-01-05 00:30:35.240308'), (4, 'sunny sunday', 2, None, '2022-01-05 00:30:35.240308'), (5, 'cheese cake', 2, None, '2022-01-05 00:30:35.240308'), (6, 'beach day', 2, None, '2022-01-05 00:30:35.240308'), (7, ' ... ', 3, None, '2022-01-05 00:30:35.240308'), (8, 'Jazz', 3, None, '2022-01-05 00:30:35.240308')  ... displaying 10 of 15 total bound parameter sets ...  (14, ' Netflix ...', 5, None, '2022-01-05 00:30:35.240308'), (15, ' The weekend', 5, None, '2022-01-05 00:30:35.240308'))
2022-01-05 01:30:35,246 INFO sqlalchemy.engine.base.Engine INSERT INTO likes (id, post_id, user_id, created_at) VALUES (?, ?, ?, ?)
2022-01-05 01:30:35,247 INFO sqlalchemy.engine.base.Engine ((1, 4, 1, '2022-01-05 00:30:35.245312'), (2, 12, 1, '2022-01-05 00:30:35.245312'), (3, 1, 2, '2022-01-05 00:30:35.245312'), (4, 9, 2, '2022-01-05 00:30:35.245312'), (5, 5, 3, '2022-01-05 00:30:35.245312'), (6, 3, 3, '2022-01-05 00:30:35.245312'), (7, 8, 4, '2022-01-05 00:30:35.245312'), (8, 13, 4, '2022-01-05 00:30:35.245312'), (9, 10, 5, '2022-01-05 00:30:35.245312'), (10, 15, 5, '2022-01-05 00:30:35.245312'))
2022-01-05 01:30:35,251 INFO sqlalchemy.engine.base.Engine INSERT INTO users (id, username, email, full_name, profile_picture, bio, created_at) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-01-05 01:30:35,253 INFO sqlalchemy.engine.base.Engine ((1, 'Sammy', 'sammy@company.com', 'Sammy Johnson', 'path/to/profile/picture1', 'The Stars', '2022-01-05 00:30:35.251316'), (2, 'Jane', 'jane@company.com', 'Jane Hilton', 'path/to/profile/picture2', 'Fun and all sun shine.', '2022-01-05 00:30:35.251316'), (3, 'Mike', 'mike@company.com', 'Mike Summers', 'path/to/profile/picture3', 'Not too early to drink wine', '2022-01-05 00:30:35.251316'), (4, 'Kate', 'kate@company.com', 'Kate Weathers', 'path/to/profile/picture4', 'Moments after a heavy down pour', '2022-01-05 00:30:35.251316'), (5, 'Ralph', 'ralph@company.com', 'Ralph Jerkins', 'path/to/profile/picture5', 'Bikes and Mechanics', '2022-01-05 00:30:35.251316'))
2022-01-05 01:30:35,257 INFO sqlalchemy.engine.base.Engine COMMIT

### Querying The Database

In [24]:
post_ids = [1,3,4,5,7,8,9,12,15,20]

In [25]:
class Struct_Post(object):
    
    def __init__(self,id,description,owner, image, created_at, liked):
        self.id = id
        self.description = description
        self.owner= owner
        self.image = image
        self.created_at = created_at
        self.liked= liked  
    
    
    def __repr__(self):
        return(f"id:{self.id}, description:{self.description}, owner:{self.owner}, image:{self.image}, created_at:{self.created_at}, liked:{self.liked}")

## Question 1: Solution

In [26]:
def get_posts(user_id, post_ids):
    
    existing_posts = []
    list_struct_posts = []
    
    #get the posts using the post_ids (query the post table)
    for i in post_ids:
        q = session.query(Post).filter(Post.id==i)
        if q.scalar():
            for i in q:
                existing_posts.append(i)
        else:
            #if id does not exist in database return None
            existing_posts.append(None)
                        
   #check if requesting user liked any post, if true set liked attribute in struct_post to True else False
    for i in existing_posts:
        # if i is not none
        if i:
            #check if user liked post (query the like table)
            checks = session.query(Like).filter(Like.post_id == i.id, Like.user_id == user_id).scalar()
            # if true set liked attribute to True in Struct_Post
            if checks:
                # insert values into their respective attributes
                inst = Struct_Post(id=i.id, description=i.description, owner=i.user_id, image=i.image, created_at=i.created_at, liked=True)
                list_struct_posts.append(inst)
                
            # if false set liked attribute to False in Struct_Post 
            else:
                inst = Struct_Post(id=i.id, description=i.description, owner=i.user_id, image=i.image, created_at=i.created_at, liked=False)
                list_struct_posts.append(inst)
        else:
            list_struct_posts.append(None)
        
    return list_struct_posts

In [27]:
list_struct_posts = get_posts(4, post_ids)

2022-01-05 01:30:52,693 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2022-01-05 01:30:52,694 INFO sqlalchemy.engine.base.Engine SELECT posts.id AS posts_id, posts.description AS posts_description, posts.user_id AS posts_user_id, posts.image AS posts_image, posts.created_at AS posts_created_at
FROM posts
WHERE posts.id = ?
2022-01-05 01:30:52,695 INFO sqlalchemy.engine.base.Engine (1,)
2022-01-05 01:30:52,699 INFO sqlalchemy.engine.base.Engine SELECT posts.id AS posts_id, posts.description AS posts_description, posts.user_id AS posts_user_id, posts.image AS posts_image, posts.created_at AS posts_created_at
FROM posts
WHERE posts.id = ?
2022-01-05 01:30:52,700 INFO sqlalchemy.engine.base.Engine (1,)
2022-01-05 01:30:52,703 INFO sqlalchemy.engine.base.Engine SELECT posts.id AS posts_id, posts.description AS posts_description, posts.user_id AS posts_user_id, posts.image AS posts_image, posts.created_at AS posts_created_at
FROM posts
WHERE posts.id = ?
2022-01-05 01:30:52,704 INFO sqlalchemy.engine.base.Engine (3,)
2022-01-05 01:30:52,707 INFO sqlalchemy.engine.base.Engine SELECT posts.id AS posts_id, posts.description AS posts_description, posts.user_id AS posts_user_id, posts.image AS posts_image, posts.created_at AS posts_created_at
FROM posts
WHERE posts.id = ?
2022-01-05 01:30:52,707 INFO sqlalchemy.engine.base.Engine (3,)
2022-01-05 01:30:52,710 INFO sqlalchemy.engine.base.Engine SELECT posts.id AS posts_id, posts.description AS posts_description, posts.user_id AS posts_user_id, posts.image AS posts_image, posts.created_at AS posts_created_at
FROM posts
WHERE posts.id = ?
2022-01-05 01:30:52,711 INFO sqlalchemy.engine.base.Engine (4,)
2022-01-05 01:30:52,713 INFO sqlalchemy.engine.base.Engine SELECT posts.id AS posts_id, posts.description AS posts_description, posts.user_id AS posts_user_id, posts.image AS posts_image, posts.created_at AS posts_created_at
FROM posts
WHERE posts.id = ?
2022-01-05 01:30:52,714 INFO sqlalchemy.engine.base.Engine (4,)
2022-01-05 01:30:52,717 INFO sqlalchemy.engine.base.Engine SELECT posts.id AS posts_id, posts.description AS posts_description, posts.user_id AS posts_user_id, posts.image AS posts_image, posts.created_at AS posts_created_at
FROM posts
WHERE posts.id = ?
2022-01-05 01:30:52,718 INFO sqlalchemy.engine.base.Engine (5,)
2022-01-05 01:30:52,721 INFO sqlalchemy.engine.base.Engine SELECT posts.id AS posts_id, posts.description AS posts_description, posts.user_id AS posts_user_id, posts.image AS posts_image, posts.created_at AS posts_created_at
FROM posts
WHERE posts.id = ?
2022-01-05 01:30:52,722 INFO sqlalchemy.engine.base.Engine (5,)
2022-01-05 01:30:52,725 INFO sqlalchemy.engine.base.Engine SELECT posts.id AS posts_id, posts.description AS posts_description, posts.user_id AS posts_user_id, posts.image AS posts_image, posts.created_at AS posts_created_at
FROM posts
WHERE posts.id = ?
2022-01-05 01:30:52,727 INFO sqlalchemy.engine.base.Engine (7,)
2022-01-05 01:30:52,729 INFO sqlalchemy.engine.base.Engine SELECT posts.id AS posts_id, posts.description AS posts_description, posts.user_id AS posts_user_id, posts.image AS posts_image, posts.created_at AS posts_created_at
FROM posts
WHERE posts.id = ?
2022-01-05 01:30:52,730 INFO sqlalchemy.engine.base.Engine (7,)
2022-01-05 01:30:52,733 INFO sqlalchemy.engine.base.Engine SELECT posts.id AS posts_id, posts.description AS posts_description, posts.user_id AS posts_user_id, posts.image AS posts_image, posts.created_at AS posts_created_at
FROM posts
WHERE posts.id = ?
2022-01-05 01:30:52,734 INFO sqlalchemy.engine.base.Engine (8,)
2022-01-05 01:30:52,736 INFO sqlalchemy.engine.base.Engine SELECT posts.id AS posts_id, posts.description AS posts_description, posts.user_id AS posts_user_id, posts.image AS posts_image, posts.created_at AS posts_created_at
FROM posts
WHERE posts.id = ?
2022-01-05 01:30:52,737 INFO sqlalchemy.engine.base.Engine (8,)
2022-01-05 01:30:52,739 INFO sqlalchemy.engine.base.Engine SELECT posts.id AS posts_id, posts.description AS posts_description, posts.user_id AS posts_user_id, posts.image AS posts_image, posts.created_at AS posts_created_at
FROM posts
WHERE posts.id = ?
2022-01-05 01:30:52,740 INFO sqlalchemy.engine.base.Engine (9,)
2022-01-05 01:30:52,743 INFO sqlalchemy.engine.base.Engine SELECT posts.id AS posts_id, posts.description AS posts_description, posts.user_id AS posts_user_id, posts.image AS posts_image, posts.created_at AS posts_created_at
FROM posts
WHERE posts.id = ?
2022-01-05 01:30:52,744 INFO sqlalchemy.engine.base.Engine (9,)
2022-01-05 01:30:52,746 INFO sqlalchemy.engine.base.Engine SELECT posts.id AS posts_id, posts.description AS posts_description, posts.user_id AS posts_user_id, posts.image AS posts_image, posts.created_at AS posts_created_at
FROM posts
WHERE posts.id = ?
2022-01-05 01:30:52,747 INFO sqlalchemy.engine.base.Engine (12,)
2022-01-05 01:30:52,750 INFO sqlalchemy.engine.base.Engine SELECT posts.id AS posts_id, posts.description AS posts_description, posts.user_id AS posts_user_id, posts.image AS posts_image, posts.created_at AS posts_created_at
FROM posts
WHERE posts.id = ?
2022-01-05 01:30:52,755 INFO sqlalchemy.engine.base.Engine (12,)
2022-01-05 01:30:52,758 INFO sqlalchemy.engine.base.Engine SELECT posts.id AS posts_id, posts.description AS posts_description, posts.user_id AS posts_user_id, posts.image AS posts_image, posts.created_at AS posts_created_at
FROM posts
WHERE posts.id = ?
2022-01-05 01:30:52,760 INFO sqlalchemy.engine.base.Engine (15,)
2022-01-05 01:30:52,763 INFO sqlalchemy.engine.base.Engine SELECT posts.id AS posts_id, posts.description AS posts_description, posts.user_id AS posts_user_id, posts.image AS posts_image, posts.created_at AS posts_created_at
FROM posts
WHERE posts.id = ?
2022-01-05 01:30:52,764 INFO sqlalchemy.engine.base.Engine (15,)
2022-01-05 01:30:52,766 INFO sqlalchemy.engine.base.Engine SELECT posts.id AS posts_id, posts.description AS posts_description, posts.user_id AS posts_user_id, posts.image AS posts_image, posts.created_at AS posts_created_at
FROM posts
WHERE posts.id = ?
2022-01-05 01:30:52,767 INFO sqlalchemy.engine.base.Engine (20,)
2022-01-05 01:30:52,769 INFO sqlalchemy.engine.base.Engine SELECT likes.id AS likes_id, likes.post_id AS likes_post_id, likes.user_id AS likes_user_id, likes.created_at AS likes_created_at
FROM likes
WHERE likes.post_id = ? AND likes.user_id = ?
2022-01-05 01:30:52,770 INFO sqlalchemy.engine.base.Engine (1, 4)
2022-01-05 01:30:52,773 INFO sqlalchemy.engine.base.Engine SELECT likes.id AS likes_id, likes.post_id AS likes_post_id, likes.user_id AS likes_user_id, likes.created_at AS likes_created_at
FROM likes
WHERE likes.post_id = ? AND likes.user_id = ?
2022-01-05 01:30:52,774 INFO sqlalchemy.engine.base.Engine (3, 4)
2022-01-05 01:30:52,776 INFO sqlalchemy.engine.base.Engine SELECT likes.id AS likes_id, likes.post_id AS likes_post_id, likes.user_id AS likes_user_id, likes.created_at AS likes_created_at
FROM likes
WHERE likes.post_id = ? AND likes.user_id = ?
2022-01-05 01:30:52,777 INFO sqlalchemy.engine.base.Engine (4, 4)
2022-01-05 01:30:52,779 INFO sqlalchemy.engine.base.Engine SELECT likes.id AS likes_id, likes.post_id AS likes_post_id, likes.user_id AS likes_user_id, likes.created_at AS likes_created_at
FROM likes
WHERE likes.post_id = ? AND likes.user_id = ?
2022-01-05 01:30:52,779 INFO sqlalchemy.engine.base.Engine (5, 4)
2022-01-05 01:30:52,781 INFO sqlalchemy.engine.base.Engine SELECT likes.id AS likes_id, likes.post_id AS likes_post_id, likes.user_id AS likes_user_id, likes.created_at AS likes_created_at
FROM likes
WHERE likes.post_id = ? AND likes.user_id = ?
2022-01-05 01:30:52,781 INFO sqlalchemy.engine.base.Engine (7, 4)
2022-01-05 01:30:52,783 INFO sqlalchemy.engine.base.Engine SELECT likes.id AS likes_id, likes.post_id AS likes_post_id, likes.user_id AS likes_user_id, likes.created_at AS likes_created_at
FROM likes
WHERE likes.post_id = ? AND likes.user_id = ?
2022-01-05 01:30:52,784 INFO sqlalchemy.engine.base.Engine (8, 4)
2022-01-05 01:30:52,786 INFO sqlalchemy.engine.base.Engine SELECT likes.id AS likes_id, likes.post_id AS likes_post_id, likes.user_id AS likes_user_id, likes.created_at AS likes_created_at
FROM likes
WHERE likes.post_id = ? AND likes.user_id = ?

2022-01-05 01:30:52,788 INFO sqlalchemy.engine.base.Engine (9, 4)
2022-01-05 01:30:52,793 INFO sqlalchemy.engine.base.Engine SELECT likes.id AS likes_id, likes.post_id AS likes_post_id, likes.user_id AS likes_user_id, likes.created_at AS likes_created_at
FROM likes
WHERE likes.post_id = ? AND likes.user_id = ?
2022-01-05 01:30:52,794 INFO sqlalchemy.engine.base.Engine (12, 4)
2022-01-05 01:30:52,797 INFO sqlalchemy.engine.base.Engine SELECT likes.id AS likes_id, likes.post_id AS likes_post_id, likes.user_id AS likes_user_id, likes.created_at AS likes_created_at
FROM likes
WHERE likes.post_id = ? AND likes.user_id = ?
2022-01-05 01:30:52,798 INFO sqlalchemy.engine.base.Engine (15, 4)

In [28]:
list_struct_posts

[id:1, description:first post, owner:1, image:None, created_at:2022-01-05 00:30:35.240308, liked:False,
 id:3, description:big cow, owner:1, image:None, created_at:2022-01-05 00:30:35.240308, liked:False,
 id:4, description:sunny sunday, owner:2, image:None, created_at:2022-01-05 00:30:35.240308, liked:False,
 id:5, description:cheese cake, owner:2, image:None, created_at:2022-01-05 00:30:35.240308, liked:False,
 id:7, description: ... , owner:3, image:None, created_at:2022-01-05 00:30:35.240308, liked:False,
 id:8, description:Jazz, owner:3, image:None, created_at:2022-01-05 00:30:35.240308, liked:True,
 id:9, description:Gold, owner:3, image:None, created_at:2022-01-05 00:30:35.240308, liked:False,
 id:12, description:Let's go skate, owner:4, image:None, created_at:2022-01-05 00:30:35.240308, liked:False,
 id:15, description: The weekend, owner:5, image:None, created_at:2022-01-05 00:30:35.240308, liked:False,
 None]

In [ ]:
#checks = session.query(exists().where(Like.post_id == i.id)).scalar()